html, 
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

a {
  text-decoration: none;
}

/* 0c090a, a71d31, E0CA3C */
/* #B74068 */

.logo {
  display: none;
}

.logo-icon {
  display: block;
}

.search-bar {
  border: none;
  outline: none;
  width: 175px; 
}

.search-bar::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.sidebar-btn {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  outline: none;
  border: none;

  padding: 8px 12px;
  margin: 3px 0px;
  border-radius: 20px;

  background-color: transparent;
  color: #fff;

  transition: all 0.2s ease;
}

.sidebar-btn:hover {
  background-color: rgba(255, 255, 255, .15);
}

.selected {
  text-transform: capitalize;
  font-weight: bolder;
  background-color: #FF0000;
  color: #0c090a;
}

.selected:hover {
  background-color: #FF0000;
}

@media screen and (min-width: 900px) {
  .logo {
    display: block;
  }
  .logo-icon {
    display: none;
  }
}

@media screen and (min-width: 800px) {

}

@media screen and (min-width: 600px) {
  .search-bar {
    width: 300px;
  }
}