html, 
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

a {
  text-decoration: none;
}

/* 0c090a, a71d31, E0CA3C */
/* #B74068 */

.logo {
  display: none;
}

.logo-icon {
  display: block;
}

.search-bar {
  border: none;
  outline: none;
  width: 150px; 
}

.search-bar::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.sidebar {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 250px;
  height: 95vh;
  background-color: #0c090a;
  border-radius: 0px 0px 25px 0px;
  /* -ms-overflow-style: none; 
  scrollbar-width: none;  */
}

.sidebar-scroll {
  overflow-Y: auto;
  padding-right: 6px;
}
.categories-scroll {
  overflow-X: auto;
  padding-bottom: 4px;
}
.sidebar-scroll::-webkit-scrollbar,
.feed-scroll::-webkit-scrollbar  {
  width: 5px;
}
.categories-scroll::-webkit-scrollbar {
  height: 4px;
}
.sidebar-scroll::-webkit-scrollbar-track,
.categories-scroll::-webkit-scrollbar-track,
.feed-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.sidebar-scroll::-webkit-scrollbar-thumb,
.categories-scroll::-webkit-scrollbar-thumb,
.feed-scroll::-webkit-scrollbar-thumb {
  background: #a71d31;
  border-radius: 10px;
  transition: background .3s ease;
}
.sidebar-scroll::-webkit-scrollbar-thumb:hover,
.categories-scroll::-webkit-scrollbar-thumb:hover,
.feed-scroll::-webkit-scrollbar-thumb:hover {
  background: #f00;
}

.sidebar-btn {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  outline: none;
  border: none;

  padding: 8px 12px;
  margin: 3px 0px;
  border-radius: 20px;

  background-color: transparent;
  color: #fff;

  transition: all 0.2s ease;
}

.sidebar-btn:hover {
  background-color: rgba(255, 255, 255, .15);
}

.selected {
  text-transform: capitalize;
  font-weight: bolder;
  background-color: #a71d31;
  color: #0c090a;
}

.selected:hover {
  background-color: #F00;
}

.page-logo {
  height: 30px;
}

@media screen and (min-width: 600px) {
  .search-bar {
    width: 300px;
  }
  .page-logo {
    height: 50px;
  }
  
}

@media screen and (min-width: 800px) {
  .page-logo {
    height: 60px;
  }
}

@media screen and (min-width: 900px) {
  .logo {
    display: block;
  }
  .logo-icon {
    display: none;
  }
  .show-side {
    grid-template-columns: 1fr !important;
    max-width: 320px !important;
  }
  .page-logo {
    height: 70px;
  }
  .categories-scroll {
    padding-left: 10px;
  }
  
}